<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>세미 프로젝트 - index</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/bs5/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <style>
        menu ul li { float: left; list-style: none;  line-height: 30px; vertical-align: middle; text-align: center } /* display: inline-block; */
        menu { align-content: center }

        /*#copy { margin: 0 auto; text-align: center }*/

        main div { text-align: center}
    </style>
</head>
<body>
<div class="container">
    <header><h1><a href="index.html">세미 프로젝트 v1</a></h1></header>
    <nav>
        <ul class="list-inline row text-center justify-content-evenly mt-5">
            <li class="col-2"><a href="index.html">Home</a></li>
            <li class="col-2"><a href="join.html">회원가입</a></li>
            <li class="col-2"><a href="login.html">로그인</a></li>
            <li class="col-2"><a href="board/list.html">게시판</a></li>
            <li class="col-2"><a href="myinfo.html">회원정보</a></li>
        </ul>
        <hr>
        <!--                <div class="border border-black border-1 opacity-75 mb-2" ></div>-->
    </nav>
    <main>
        <div class="container-fluid align-content-center"><img src="img/gogh.jpg" height="80%" width="80%" alt ="별이빛나는밤"></div>
    </main>


    <footer>
        <hr>
        <!--            <div class="border border-black border-1 opacity-75 mb-2 mt-2" ></div>-->

        <div class="text-center mt-3">copyright &copy; 2014.2017. siestageek. All Rights Reserved. </div>
    </footer>
</div>
</body>
</html>